  
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: var(--mantine-color-third-0);
    font-weight: 350;
    font-size: var(--mantine-font-size-sm);
    line-height: 30px;
    cursor: pointer;
  
    @media (max-width: $mantine-breakpoint-sm) {
      height: 28px;
      width: 100%;
    }
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
  
  .subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-third-0);
border:1px solid var(--mantine-color-gray-2);
text-decoration: none;
height: 70px;
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
 
  }
  .mobileSubLink{
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-bottom:1px solid var(--mantine-color-gray-2)
     ;
  }
